/* custom styles */
.urlBox {
  text-align: center;
  margin-top: 5rem;
  font-family: "Courier New", Courier, monospace;
  color: rgb(25, 113, 228);
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    padding: 12px;
    width: 60vw;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
    &::placeholder {
      font-family: "Courier New", Courier, monospace;
      font-size: 1.1rem;
    }
  }
  .submit-btn {
    display: block;
    padding: 12px;
    background-color: rgb(25, 113, 228);
    color: #fff;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-top: 2rem;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgb(12, 84, 179);
    }
  }
}
.urlRespBox {
  font-family: "Courier New", Courier, monospace;
  h4 {
    color: #000;
    text-align: center;
    a {
      color: rgb(23, 114, 218);
    }
  }
}
